/* ESTRUCTURAS GENERALES */
.container{
    margin: auto;
    display: block;

    padding: 1rem;
}

.row{
    justify-content: space-around;
    flex-direction: row;
}

.titulo{
    font-size: 2rem;
}

.subtitulo{
    font-size: large;
}

/* PARTE SUPERIOR DE POST */
.encabezado-post{
    display: block;
}

.col-encabezado{
    display: flex;
}

/* Sección de íconos para compartir*/
#i-compartir{
    display: block;

    padding-left: 8rem;
}

/* Estilos a íconos */
.i-verificado, .i-compartir{
    font-size: 1.2rem;

    padding: 0.4rem;
}

/* Sección de íconos de puntuación */
#p-puntuacion, .p-extra-puntuacion, .bi-star{
    padding: 0.2rem;
    
    display: inline-block;
}

/* Íconos de estrellas */
/*
.bi-star{
    padding: 0.2rem;
}

.bi-star:hover{
    padding: 0.2rem;
}*/

/* PARTE PRINCIPAL DE POST */
.cuerpo-post{
    margin: auto;
    display: flex;
}

#imagenes-post{
    display: inline-block;

    justify-content: space-around;
}

.list-fotos{
    display: inline-block;
}

.imgOpcion{
    width: 10rem;
    padding: 1rem;
}

/* PARTE INFERIOR DE POST */
.pie-post{
    margin: auto;
    display: flex;
}

.col-informacion{
    display: inline-block;
}