<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
      <img src="../../../../assets/logo/logoAzul2-AlquilerYa!.png" height="30"/>
    </a>

    <!-- Botón de menú desplegable -->
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mi-menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- ítems del navegador -->
    <div class="collapse navbar-collapse" id="mi-menu">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Alquileres</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Mi propiedad</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">Iniciar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>