<nav class="navbar navbar-expand-lg navbar-dark shadow-sm sticky-top">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand fw-bold" href="/home">
      <img src="../../../../assets/logo/logoAzul2-AlquilerYa!.png" height="45" width="95" />
    </a>

    <!-- Botón de menú desplegable -->
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mi-menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- ítems del navegador -->
    <div class="collapse navbar-collapse" id="mi-menu">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-3">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="publications/list-publications">Alquileres</a>
        </li>

        <!-- Template para usuario NO logueado -->
        <ng-template #guestDropdown>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">
              <i class="bi bi-person-circle me-1"></i> Iniciar sesión
            </a>
          </li>
        </ng-template>
        <!-- Dropdown: Mi cuenta -->
        <li class="nav-item" *ngIf="isLoggedIn; else guestDropdown">
          <div class="dropdown">
            <button class="nav-link dropdown-toggle d-flex align-items-center" type="button" (click)="toggleDropdown()"
              [attr.aria-expanded]="isDropdownOpen" aria-haspopup="true">
              <i class="bi bi-person-circle me-1"></i> Mi cuenta
            </button>
            <ul class="dropdown-menu dropdown-menu-end" [class.show]="isDropdownOpen" role="menu">
              <li><a class="dropdown-item" routerLink="/about/error" (click)="closeDropdown()">Mi perfil</a></li>
              <li><a class="dropdown-item" routerLink="/publications" (click)="closeDropdown()">Mis propiedades</a></li>
              <li><a class="dropdown-item" routerLink="/about/error" (click)="closeDropdown()">Favoritos</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><button class="dropdown-item text-danger" (click)="logout()">Cerrar sesión</button></li>
            </ul>
          </div>
        </li>

        <!-- Invitado -->
        <ng-template #guestDropdown>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">
              <i class="bi bi-person-circle me-1"></i> Iniciar sesión
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>