<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-3 list">
                <h6>¡Contáctanos!</h6>

                <ul class="social-icons">
                    <li>
                        <a class="whatsapp" href="https://www.whatsapp.com/">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        WhatsApp
                    </li>

                    <li>
                        <a class="facebook" href="https://www.facebook.com/">
                            <i class="bi bi-facebook"></i>
                        </a>
                        Facebook
                    </li>

                    <li>
                        <a class="instagram" href="https://www.instagram.com/">
                            <i class="bi bi-instagram"></i>
                        </a>
                        Instagram
                    </li>

                    <li>
                        <a class="google" href="https://www.google.com/">
                            <i class="bi bi-google"></i>
                        </a>
                        Google plus
                    </li>
                </ul>
            </div>

            <hr class="divider">

            <div class="col-xs-6 col-md-3 list">
                <h6>Atajos</h6>
                <ul class="footer-links">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Alquileres</a></li>
                    <li><a href="/login">Iniciar Sesión</a></li>
                    <li><a href="#">Registrar mi propiedad</a></li>
                </ul>
            </div>

            <hr class="divider">

            <div class="col-xs-6 col-md-3 list">
                <h6>Sobre nosotros</h6>
                <ul class="footer-links">
                    <li><a href="/about">¿Quiénes somos?</a></li>
                    <li><a href="/faqs">FAQs</a></li>
                    <li><a href="/error">Términos y condiciones</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>

    <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by
        <a href="#">Alquiler Ya</a>.
    </p>
</footer>