<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li>
                            <a class="facebook" href="https://www.facebook.com/">
                                <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/facebook-new.png"
                                    alt="facebook-new" />
                            </a>
                            Facebook
                        </li>
                        <li>
                            <a class="instagram" href="https://www.instagram.com/">
                                <img width="30" height="30"
                                    src="https://img.icons8.com/ios-filled/50/instagram-new--v1.png"
                                    alt="instagram-new--v1" />
                            </a>
                            Instagram
                        </li>
                        <li>
                            <a class="google" href="#">
                                <img width="30" height="30" src="https://img.icons8.com/ios/50/google-plus.png"
                                    alt="google-plus" />
                            </a>
                            Google plus
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <h6>Atajos</h6>
                <ul class="footer-links">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Alquileres</a></li>
                    <li><a href="/login">Iniciar Sesión</a></li>
                    <li><a href="#">Registrar mi propiedad</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3">
                <h6>Sobre nosotros</h6>
                <ul class="footer-links">
                    <li><a href="#">Quienes somos</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by
        <a href="#">Alquiler Ya</a>.
    </p>
</footer>