body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  text-align: center;
  padding: 50px;
}
h1 {
  font-size: 3em;
  color: #333;
}
h2 {
  font-size: 1.5em;
  color: #666;
}
p {
  font-size: 1.1em;
  color: #777;
}
.button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.1em;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  background-color: #0056b3;
}
footer {
  font-size: 0.8em;
  margin-top: 30px;
  color: #aaa;
}
