.error-container {
  height: 100vh; /* Altura completa del viewport */
  display: flex; /* Flexbox para centrar contenido */
  flex-direction: column; /* Alinear elementos en columna */
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
  text-align: center;
  background-color: #f8f9fa; /* Fondo claro */
  color: #333; /* Texto oscuro */
}

.error-title {
  font-size: 3rem;
  color: #dc3545; /* Rojo para el título del error */
  margin-bottom: 20px;
}

.error-message {
  font-size: 1.2rem;
  margin: 20px 0;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: var(--primary-darker);  /* Azul principal */
  color: white;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--primary); /* Azul más oscuro al pasar el mouse */
}
