<div class="container">
    <h1>Registro de Usuario</h1>
    <form [formGroup]="registerForm" (ngSubmit)="registrar()">
        <label for="nombre">Nombre:</label>
        <input id="nombre" formControlName="nombre" type="text" placeholder="Ingresa tu nombre" required>
        <div *ngIf="registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched">
            Nombre es requerido.
        </div>

        <label for="apellido">Apellido:</label>
        <input id="apellido" formControlName="apellido" type="text" placeholder="Ingresa tu apellido" required>
        <div *ngIf="registerForm.get('apellido')?.invalid && registerForm.get('apellido')?.touched">
            Apellido es requerido.
        </div>

        <label for="email">Correo Electrónico:</label>
        <input id="email" formControlName="email" type="email" placeholder="Ingresa tu correo" required>

        <label for="celular">Celular:</label>
        <input id="celular" formControlName="celular" type="tel" placeholder="Ingresa tu celular" required>

        <label for="usuario">Usuario:</label>
        <input id="usuario" formControlName="usuario" type="text" placeholder="Crea un usuario" required>

        <label for="contrasenia">Contraseña:</label>
        <input id="contrasenia" formControlName="contrasenia" type="password" placeholder="Crea una contraseña"
            required>

        <label for="rol">Rol:</label>
        <select id="rol" formControlName="rol" (change)="cambiarRol($event)">
            <option value="cliente">Cliente</option>
            <option value="propietario">Propietario</option>
        </select>

        <div *ngIf="selectedRole === 'cliente'">
            <label for="dni">DNI:</label>
            <input id="dni" formControlName="dni" type="text" placeholder="Ingresa tu DNI">
        </div>

        <div *ngIf="selectedRole === 'propietario'">
            <label for="cuil">CUIL:</label>
            <input id="cuil" formControlName="cuil" type="text" placeholder="Ingresa tu CUIL">
        </div>

        <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>
    </form>
    <p>¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión aquí</a></p>
</div>