<!-- tac.component.html -->
<div class="container">
  <h2 class="subtitulo">Términos y Condiciones (TAC)</h2>

  <div class="tacs-section">
    <div class="tac-section inicio">
      Se describe los términos y condiciones generales (en adelante únicamente “Términos y Condiciones”)
      aplicables
      al uso de los contenidos, productos y servicios ofrecidos a través del sitio “AlquilerYa!” (en adelante, “sitio
      web”),
      del cual es Administrador VANGUARDIA DE CODERS (en adelante, “Administrador”) quien tiene su domicilio en
      Dirección Ficticia.
    </div>

    <div class="tac-section">
      <b>Principal propósito</b><br>
      La aplicación tiene como objetivo principal ofrecer un espacio digital donde los usuarios puedan visualizar
      propiedades
      disponibles para alquiler. La plataforma funciona exclusivamente como foro informativo, permitiendo la publicación
      y
      consulta de anuncios con datos relevantes como ubicación, superficie, características del inmueble y condiciones
      del
      establecimiento. La aplicación no gestiona pagos, reservas ni contratos, ni actúa como intermediario entre las
      partes.
    </div>

    <div class="tac-section">
      <b>Acerca de nuestras políticas</b><br>
      • Para usar nuestro sitio web y/ o recibir nuestros servicios, debes tener al menos 18 años de edad, o la mayoría
      de
      edad
      legal en tu jurisdicción, y poseer la autoridad legal, el derecho y la libertad para participar en estos Términos
      y
      Condiciones como acuerdo vinculante.
    </div>


    <div class="tac-section">
      • Toda la información contenida en los anuncios es proporcionada directamente por los usuarios. La aplicación no
      verifica
      ni garantiza la veracidad, exactitud, vigencia o legalidad de los datos publicados. La responsabilidad sobre el
      contenido recae exclusivamente en el usuario que lo publica.
    </div>

    <div class="tac-section">
      • La aplicación no se responsabiliza por errores, omisiones o modificaciones en los datos publicados por los
      usuarios.
      Se
      recomienda verificar toda la información directamente con el anunciante antes de tomar decisiones relacionadas con
      el
      alquiler.
    </div>

    <div class="tac-section">
      • Se reconoce y acepta que al subir cualquier contenido (incluidos, entre otros, diseños, imágenes, fotografías,
      videos,
      archivos de audio, ubicación, superficies, ilustraciones, descripciones. condiciones de admisión, como aceptación
      de
      mascotas o niños) a través de cualquier medio al sitio web, se confirma ser el propietario de todos los derechos
      relevantes o de haber recibido licencia correspondiente para subir/ transferir/ enviar el contenido. Usted acepta
      y
      brinda consentimiento para que el contenido cargado/ transferido se muestre públicamente en el sitio web.
    </div>

    <div class="tac-section">
      • No se permite contenido ofensivo, discriminatorio, engañoso, ilegal o que infrinja derechos de terceros. La
      aplicación
      se reserva el derecho de eliminar contenido que no cumpla con estas normas, y cuenta con mecanismos para reportar
      contenido inapropiado o sospechoso. En caso de detectar publicaciones fraudulentas, malintencionadas o que
      infrinjan
      estos Términos, la plataforma podrá suspender o eliminar dicho contenido sin previo aviso.
    </div>

    <div class="tac-section">
      • La aplicación no se responsabiliza por errores, omisiones o modificaciones en los datos publicados por los
      usuarios.
      Se
      recomienda verificar toda la información directamente con el anunciante antes de tomar decisiones relacionadas con
      el
      alquiler.
    </div>

    <div class="tac-section">
      • La aplicación no interviene en disputas, negociaciones ni acuerdos entre arrendadores e inquilinos. Cualquier
      conflicto
      derivado de la relación entre usuarios deberá resolverse entre las partes involucradas, sin participación de la
      plataforma.
    </div>

    <div class="tac-section">
      • La aplicación podrá suspender o eliminar cuentas de usuarios que incumplan estos Términos y Condiciones,
      incluyendo
      pero
      no limitándose a: publicaciones ofensivas, spam, suplantación de identidad, uso indebido de la plataforma o
      actividades
      fraudulentas.
    </div>

    <div class="tac-section">
      • Se acepta recibir ocasionalmente mensajes y materiales promocionales de nuestra parte, por correo, email o
      cualquier
      otro formulario de contacto que puedas proporcionarnos (incluido tu número de teléfono para llamadas o mensajes de
      texto). Si no desea recibir este tipo de materiales promocionales o notificaciones, notifíquese en cualquier
      momento.
    </div>

    <div class="tac-section">
      <b>Información recopilada</b><br>
      La aplicación puede recopilar ciertos datos personales como nombre, correo electrónico y preferencias de búsqueda,
      con
      el fin de mejorar la experiencia del usuario. Estos datos serán tratados conforme a la legislación vigente en
      materia
      de
      protección de datos y no serán compartidos con terceros sin consentimiento expreso, salvo obligación legal.
    </div>

    <div class="tac-section">
      <b>Uso de la información</b><br>
      La información reunida se usa para permitir el uso y acceso de los usuarios a sus cuentas; facilitar la
      publicación,
      búsqueda y reserva de alquileres; gestionar pagos y transacciones entre clientes y propietarios; mantener la
      seguridad y
      prevenir operaciones fraudulentas dentro de la plataforma; mejorar la funcionalidad del sitio web y la experiencia
      del usuario, y realizar estudios
      de mercado, análisis y mejoras continuas de nuestros servicios.
    </div>

    <div class="tac-section">
      <b>Tus derechos de usuario</b><br>
      <ul>
        <li>Ejercer tus derechos de privacidad, acceso, rectificación, cancelación y oposición.</li>
        <li>Conocer si es titular de los datos que se encuentran o no en registro o banco de datos.</li>
        <li>Conocert todos los datos relativos a su persona que constan en los registros.</li>
        <li>Solicitar información sobre las fuentes y los medios a través de los cuales se obtuvieron sus datos.</li>
        <li>Solicitar las finalidades para las que se recaudaron los datos.</li>
        <li>Saber si se está registrado conforme a las exigencias de la Ley N°25.326.</li>
      </ul>
    </div>

    <div class="tac-section">
      <b>Nos reservamos el derecho de modificar estos términos ocasionalmente a nuestro exclusivo criterio.</b> Por lo
      tanto,
      usted
      debe revisar esta página periódicamente. Cuando cambiamos los Términos de manera material, te notificaremos que se
      han
      realizado cambios materiales en los Términos. El uso continuado del sitio web o de nuestro servicio después de
      cualquier
      cambio de este tipo constituye su aceptación de los nuevos Términos.
    </div>

    <div class="tac-section">
      <b>Contacto</b><br>
      Si tienes alguna duda o inquietud sobre nuestras Política de Privacidad, o quieres ejercer cualquier derecho
      mencionado, ponte en contacto con nosotros a través de estos medios:
      <ul>
        <li>Correo electrónico: privacidad@alquilerya.com</li>
        <li>Dirección física: Dirección Ficticia, Cipolletti, Río Negro, Argentina.</li>
      </ul>
      Estamos comprometidos a responder todas las solicitudes de acceso, rectificación o eliminación de datos en un
      plazo no superior a 30 días hábiles.
    </div>

    <div class="tac-section fin">
      Al utilizar esta aplicación, se declara haber leído, comprendido y aceptado estos Términos y Condiciones. Si no
      está
      de
      acuerdo con alguno de estos términos o cualquier versión futura de los Términos, no utilice ni acceda (o continúe
      accediendo) al sitio web.
    </div>
  </div>
</div>