/* tac.component.css */
.container {
  padding: 1rem;
}

.tac-section {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

.inicio, .fin {
  font-weight: 600;
}