<!-- Seccionado por categoría/ zona --> 
<app-seccion></app-seccion>

<div class="container">
    <!-- Parte superior post -->
    <div class="row">
        <section class="encabezado-post">
            <div class="col-encabezado">
                <h1 class="titulo">Departamento con 2 habitaciones</h1> <i class="bi bi-shield-check i-verificado" title="Verificado"></i>

                <div id="i-compartir">
                    <i class="bi bi-telephone i-compartir" title="Llamar"></i>
                    <i class="bi bi-share i-compartir" title="Compartir"></i>
                    <i class="bi bi-heart i-compartir" title="Me gusta"></i>
                </div>
            </div>

            <!-- Estrellas de calificación/ puntuación -->
            <div class="col-encabezado" id="i-puntuacion">
                <!-- Cantidad total de estrellas -->
                <p class="p-extra-puntuacion">5.5</p>

                <i class="bi bi-star" title="1/5"></i>
                <i class="bi bi-star" title="2/5"></i>
                <i class="bi bi-star" title="3/5"></i>
                <i class="bi bi-star" title="4/5"></i>
                <i class="bi bi-star" title="5/5"></i>

                <!-- Cantidad de calificaciones -->
                <p class="p-extra-puntuacion">(10)</p>
            </div>
        </section>
    </div>

    <!-- Cuerpo principal post -->
    <div class="row">
        <section class="cuerpo-post">
            <!-- Imágenes descriptivas del alquiler -->
            <div class="col" id="imagenes-post">
                <!-- Principal -->
                <img src="https://images.pexels.com/photos/1115804/pexels-photo-1115804.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Vista principal de la casa">

                <!-- Más opciones -->
                <ul>
                    <li class="list-fotos">
                        <img src="https://images.pexels.com/photos/3665354/pexels-photo-3665354.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Vista patio exterior" class="imgOpcion">
                    </li>
                    <li class="list-fotos">
                        <img src="https://images.pexels.com/photos/3665354/pexels-photo-3665354.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Vista patio exterior" class="imgOpcion">
                    </li>
                    <li class="list-fotos">
                        <img src="https://images.pexels.com/photos/3665354/pexels-photo-3665354.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Vista patio exterior" class="imgOpcion">
                    </li>
                    <li class="list-fotos">
                        <img src="https://images.pexels.com/photos/3665354/pexels-photo-3665354.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Vista patio exterior" class="imgOpcion">
                        + 5
                    </li>
                </ul>
            </div>

            <div class="col" id="atajos">

            </div>
        </section>
    </div>

    
    <!-- Pie de post -->
    <div class="row">
        <section class="pie-post">
            <div class="col-informacion">
                <div class="descripcion">
                    <!-- Descripción general-->
                    <h2 class="subtitulo">Descripción:</h2>
                    <p class="p-descripcion">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quisquam, dolore necessitatibus ad doloremque dolores unde magni mollitia beatae autem aliquam itaque aperiam porro delectus voluptas! Consequuntur odit pariatur esse.
                    </p>

                    <!-- Características generales -->
                </div>

                <div class="normas">
                    <!-- Normas -->
                    <h2 class="subtitulo">Normas:</h2>
                    <p class="p-descripcion">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas voluptatibus, totam odio dolor officia quisquam similique in explicabo dicta ullam ratione autem fuga atque laborum vel reiciendis nam quo esse.
                    </p>
                </div>
                
                <div class="info-inquilino">
                    <!-- Información del inquilino -->
                    <h2 class="subtitulo">Inquilino:</h2>
                    <p class="p-descripcion">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio fugit accusantium nihil eveniet tenetur enim blanditiis, soluta, quam aut cupiditate labore ad dolore sapiente quaerat? Maiores perferendis atque voluptatem eos?
                    </p>
                </div>
                
                <div class="opiniones">
                    <!-- Opiniones públicas -->
                    <h2 class="subtitulo">Opiniones:</h2>
                    <p class="p-descripcion">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, quas similique voluptas obcaecati assumenda iusto ut? Inventore fugiat unde sed? Ratione amet eaque culpa. Vel nesciunt quaerat numquam. Explicabo, optio!
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>