<div class="login-container">
  <div class="login-card">
    <!-- Avatar -->
    <div class="login-avatar">
      <img src="https://www.transparentpng.com/download/user/gray-user-profile-icon-png-fP8Q1P.png" alt="avatar">
    </div>

    <h1 class="login-title">Inicio de Sesión</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Campo para nombre de usuario -->
      <div class="form-group">
        <label for="username">Usuario:</label>
        <input id="username" formControlName="username" type="text" placeholder="Ingresa tu nombre de usuario" required>
      </div>

      <!-- Campo para contraseña -->
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input id="password" formControlName="password" type="password" placeholder="Ingresa tu contraseña" required>
      </div>

      <!-- Botón -->
      <button type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
    </form>

    <!-- Error -->
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

    <!-- Registro -->
    <p class="register-text">
      ¿No tienes una cuenta? <a routerLink="/register">Regístrate aquí</a>
    </p>
  </div>
</div>