/* Importación a paquetería de íconos de Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Definición de colores globales */
:root{
    /* Colores monocromáticos */
    --black: #0000;
    --white: #FFFF;

    /* Paleta de colores */
    --primary: #3DA1B8;
    --primary-lighter: #5ABACF;
    --primary-darker: #368597;

    --secondary: #D5F092;
    --secondary-lighter: #DCF795;
    --secondary-darker: #BFD683;

    /* Sombras */
    --surface: rgb(228, 228, 228);
}