/* You can add global styles to this file, and also import other style files */
:root{
    --primary: #3da1b8;
    --primary-lighter: #5abacf;
    --primary-darker: #368597;
    --white: #fff;
    --black: #000;
    --surface: rgb(228, 228, 228);
    --secondary: #d5f092;
    --secondary-lighter: #d6ee99;
    --secondary-darker: #bfd683;
}
